ul {
    list-style-type: none;
}

li {
    padding:2px;
}

#addMovie {
    margin-top: 20px;
}

.movieForm {
    padding:20px;
}

.card {
    border: 1px solid black;
}

.card-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
}
